@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #fc787f, #ff8664);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}
.app {
  min-height: 100vh;
  width: 1300px;
  margin: 58px auto 0 auto;
  background-color: #fff;
}
.app__hero {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/header.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.app__heroContainer {
  width: 500px;
  height: 38vh;
  color: #fff;
  background-color: #42477e75;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2.8rem 3rem;
}
.app__heroContainer > h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.app__heroContainer > p {
  font-size: 0.8rem;
  line-height: 1.7;
}
.app__cards {
  background-color: #f4f8fd;
  padding: 4rem 2rem 2rem 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 1400px) {
  .app {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .app__heroContainer {
    width: 340px;
    padding: 2.8rem 1rem;
  }
}
